<!-- Loop over each object in the projects array -->
<div class="container">
  <div class="row">
    <div class="alert alert-success" role="alert" id="welcomeAlert">
      The welcome will shows every available journey
    </div>
    <div class="my-4 col-auto">
      <h2>Welcome to the homepage!</h2>
    </div>
    {{#each games as |game|}}
    <div class="card col-12 my-2">
      <div class="card-body">
        <a class="card-"href="/story/{{game.id}}">
        <h5 class="card-title">{{game.game_name}}</h5>
        </a>
        <h6 class="card-subtitle mb-2 text-muted">Name of Game</h6>
        <p class="card-text">Author Name: {{game.user.name}}</p>
        <p class="card-text">Created on: {{format_date game.date_created}}</p>
        <h6 class="card-text">Preview of story</h6>
        <p class="card-text">{{game.description}}</p>
      </div>
    </div>


    {{/each}}

    {{#if logged_in}}
    <div class="col d-flex justify-content-end align-items-end my-5">
      <button class="btn btn-primary" type="button" onclick="window.location.href='/newstory'">
        Add Story
      </button>
    </div>
    {{/if}}
  </div>
</div>

<script src="./js/homepage.js"></script>