<!-- Loop over each object in the projects array -->

<head>
  
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

</head>

{{#each story as |story| }}
<div class="row mb-4 story">
  <div class="col-md-5">
    <h2>
      <a href="/story/{{story.id}}">{{story.name}}</a>
    </h2>
    <p>
      <!-- Pass needed_funding value to the helper function -->
      <span class="dollar-amount">{{format_amount project.needed_funding}}</span>
      needed!
    </p>
    <p>Created by {{story.user.name}} on {{format_date story.date_created}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{story.description}}
    </p>
  </div>
</div>
{{/each}}


