
<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>


{{#each games as |game|}}
<div class="containter p-2">
<div class="card mx-auto" style="width: 70rem;">
  <div class="card-body">
    <a href= "/story/{{game.id}}"><h5 class="card-title">Story {{game.game_name}}</h5></a>
    <h6 class="card-subtitle mb-2 text-muted">Name of Game</h6>
    <p class="card-text">Author Id: {{game.author_id}}</p>
    <p class="card-text">{{game.date_created}}</p>
    <p class="card-text">{{game.description}}</p>
    <a href="#" class="card-link">Add Chapter</a>
    <a href="#" class="card-link">Delete Previous Chapter</a>
  </div>
</div>

</div>

{{/each}}

{{!-- <div class="row mt-4">
  <div class="col-md-6">
    <h3>Create a New Project:</h3>

    <form class="form new-project-form">
      <div class="form-group">
        <label for="project-name">project name:</label>
        <input class="form-input" type="text" id="project-name" name="project-name" />
      </div>
      <div class="form-group">
        <label for="project-funding">needed funding ($):</label>
        <input class="form-input" type="number" id="project-funding" name="project-funding" />
      </div>
      <div class="form-group">
        <label for="project-desc">description:</label>
        <textarea class="form-input" id="project-desc" name="project-desc"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>

  {{#if projects.length}}
  <div class="col-md-6 project-list">
    <h3>Current Projects:</h3>

    {{#each projects as |project|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/project/{{project.id}}">{{project.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{project.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div> --}}

<script src="./js/profile.js"></script>
