<h1>{{story_title}}</h1>
<p style="display:none" id="user_id">{{user_id}}</p>
<p style="display:none" id="game_id">{{game.id}}</p>
<div class="containter p-2 mx-auto" style="width: 70rem">
  <div class="card">
    <div class="card-body">
      <h1>{{game.game_name}}</h1>
      <h2>Description of game {{game.description}}</h2>
      <p>Author Name: {{game.user.name}}</p>
      {{#each comments as |com|}}
        <div class="card">
          <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted">{{com.user.name}}</h6>
            <p>
              {{com.comment_text}}
            </p>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
  {{#if logged_in}}
    <div class="card">
      <div class="card-body">
          <div class="form-group pt-3">
            <label for="comment_text">Enter Journay</label>
            <textarea class="form-control" id="comment_text" rows="3"></textarea>
          </div>

          <div class="pt-2">
            <button type="button" class="btn btn-outline-success" id="sendCommentButton">Add Next Chapter</button>
            <button type="button" class="btn btn-outline-danger" action="/add/complete" method="POST">Delete Previous Chapter</button>
          </div>
          

      </div>
    </div>
  {{/if}}
</div>

<script src="../js/comment.js"></script>


